---
- name: provision EC2 
  include: ec2_provison.yml
  delagete_to: localhost

- name: Install Docker
  include: docker_install_centos.yml
  delagete_to: "{{ ec2.instances.public_ip }}" 

- name: Launch Docker container 
  include: docker_containers_launch.yml
  delagete_to: "{{ ec2.instances.public_ip }}" 

